In [521]:
import psycopg2 as pg

In [522]:
import pandas.io.sql as psql

In [523]:
con = pg.connect(database = "espresso", host = "espressopostgresrr.dunzo.in", user = "dunzoespresso", password = "dunzoProd135", port = 5432)

In [524]:
import pandas as pd
data1 = pd.read_sql("select * from (select id as task_id, uuid as task_uuid, owner_id, created_on at time zone 'Asia/Kolkata' as created_on, promotion_id, status as usertask_status, cancelled_by_type, cancellation_reason as usertask_cancellation_reason from usertasks_task where promotion_id in('742', '741', '740', '739', '738', '737', '736', '735','734','733','732', '731', '730', '729', '728', '727', '726', '725', '724', '723', '722', '721', '720', '719', '718', '717', '716', '715', '714', '713', '712', '711', '710', '709', '708', '707', '706', '705', '704', '703', '702', '701', '700', '699', '698', '697', '696', '695', '694', '693', '692', '691', '690', '689', '688', '687', '686', '685', '684', '683', '682', '681', '680', '679', '678', '677', '676', '675', '674', '673', '672', '671', '670', '669', '668', '667', '666', '664', '663', '662', '661', '660', '659', '658', '657', '656', '655', '654', '653', '651', '650', '649', '648', '647', '646', '645', '644', '643', '642', '641', '640', '639', '638', '637', '636', '635', '634', '633', '632', '631', '630', '629', '628', '627', '626', '625', '624', '623', '622', '621','620', '619', '618', '617', '616', '615', '614', '613', '612', '611', '610', '609', '608', '607', '606', '605', '604', '603', '602', '601', '600', '599', '598', '597', '596', '595', '594', '593', '592', '591', '589', '588', '587', '586', '585', '584', '583', '582', '581', '580', '579', '578', '577', '576', '575', '574', '573', '572')) a left join (select id as runner_task_id, runner_id, user_task_id, created_on at time zone 'Asia/Kolkata' as runner_task_created_on, completed_on at time zone 'Asia/Kolkata' as runner_task_completed_on, status as runner_task_status, cancelled_by_id, cancellation_reason as runnertask_cancellation_reason from usertasks_runnertask) b on a.task_id = b.user_task_id", con = con)

In [525]:
list(data1)

['task_id',
 'task_uuid',
 'owner_id',
 'created_on',
 'promotion_id',
 'usertask_status',
 'cancelled_by_type',
 'usertask_cancellation_reason',
 'runner_task_id',
 'runner_id',
 'user_task_id',
 'runner_task_created_on',
 'runner_task_completed_on',
 'runner_task_status',
 'cancelled_by_id',
 'runnertask_cancellation_reason']

In [526]:
data1.head()

,task_id,task_uuid,owner_id,created_on,promotion_id,usertask_status,cancelled_by_type,usertask_cancellation_reason,runner_task_id,runner_id,user_task_id,runner_task_created_on,runner_task_completed_on,runner_task_status,cancelled_by_id,runnertask_cancellation_reason
0,3076193,dccbd6fb-c046-48be-b566-0d3302a229fd,6544,2018-09-03 19:46:47.456739,572,COMPLETED,None,default,3767479.0,47213.0,3076193.0,2018-09-03 19:47:06.879716,2018-09-03 20:03:41.933735,COMPLETED,NaN,None
1,3077845,29d8d240-8874-4d9b-abfe-b95a16d59d5d,86055,2018-09-03 20:35:38.633782,572,COMPLETED,None,default,3769642.0,424695.0,3077845.0,2018-09-03 20:44:05.821458,2018-09-03 21:23:09.311484,COMPLETED,NaN,None
2,3077845,29d8d240-8874-4d9b-abfe-b95a16d59d5d,86055,2018-09-03 20:35:38.633782,572,COMPLETED,None,default,3769499.0,782451.0,3077845.0,2018-09-03 20:40:07.131324,2018-09-03 20:41:42.698338,CANCELLED,782451.0,RUNNER_REJECT
3,3077845,29d8d240-8874-4d9b-abfe-b95a16d59d5d,86055,2018-09-03 20:35:38.633782,572,COMPLETED,None,default,3769561.0,765461.0,3077845.0,2018-09-03 20:41:52.977411,2018-09-03 20:43:57.211568,CANCELLED,5176.0,None
4,3077845,29d8d240-8874-4d9b-abfe-b95a16d59d5d,86055,2018-09-03 20:35:38.633782,572,COMPLETED,None,default,3769434.0,765461.0,3077845.0,2018-09-03 20:37:56.971929,2018-09-03 20:40:01.132760,CANCELLED,5176.0,None

In [527]:
data1.shape

(33235, 16)

In [528]:
data2 = pd.read_sql("select id, type from users_dunzouser", con = con)

In [529]:
data2.head()

       id type
0  457183    C
1  616620    C
2  303516    C
3  602066    C
4  912777    C

In [530]:
data1 = data1.merge(data2, how = "left", left_on = "cancelled_by_id", right_on = "id")

In [531]:
data1.shape

(33235, 18)

In [532]:
data1.head()

,task_id,task_uuid,owner_id,created_on,promotion_id,usertask_status,cancelled_by_type,usertask_cancellation_reason,runner_task_id,runner_id,user_task_id,runner_task_created_on,runner_task_completed_on,runner_task_status,cancelled_by_id,runnertask_cancellation_reason,id,type
0,3076193,dccbd6fb-c046-48be-b566-0d3302a229fd,6544,2018-09-03 19:46:47.456739,572,COMPLETED,None,default,3767479.0,47213.0,3076193.0,2018-09-03 19:47:06.879716,2018-09-03 20:03:41.933735,COMPLETED,NaN,None,NaN,NaN
1,3077845,29d8d240-8874-4d9b-abfe-b95a16d59d5d,86055,2018-09-03 20:35:38.633782,572,COMPLETED,None,default,3769642.0,424695.0,3077845.0,2018-09-03 20:44:05.821458,2018-09-03 21:23:09.311484,COMPLETED,NaN,None,NaN,NaN
2,3077845,29d8d240-8874-4d9b-abfe-b95a16d59d5d,86055,2018-09-03 20:35:38.633782,572,COMPLETED,None,default,3769499.0,782451.0,3077845.0,2018-09-03 20:40:07.131324,2018-09-03 20:41:42.698338,CANCELLED,782451.0,RUNNER_REJECT,782451.0,R
3,3077845,29d8d240-8874-4d9b-abfe-b95a16d59d5d,86055,2018-09-03 20:35:38.633782,572,COMPLETED,None,default,3769561.0,765461.0,3077845.0,2018-09-03 20:41:52.977411,2018-09-03 20:43:57.211568,CANCELLED,5176.0,None,5176.0,O
4,3077845,29d8d240-8874-4d9b-abfe-b95a16d59d5d,86055,2018-09-03 20:35:38.633782,572,COMPLETED,None,default,3769434.0,765461.0,3077845.0,2018-09-03 20:37:56.971929,2018-09-03 20:40:01.132760,CANCELLED,5176.0,None,5176.0,O

In [533]:
data1_summary1 = data1.fillna(method = "ffill").groupby("promotion_id").agg({"task_id": "nunique"})
data1_summary2 = data1[data1.runner_task_status == "COMPLETED"].fillna(method = "ffill").groupby("promotion_id").agg({"task_id": "nunique"})
data1_summary = data1_summary1.merge(data1_summary2, how = "outer", left_on = "promotion_id", right_on = "promotion_id")

In [534]:
#data1_summary = data1_summary.reset_index()
data1_summary.head()

              task_id_x  task_id_y
promotion_id
572                  18       15.0
573                  29       23.0
574                  48       29.0
575                   3        NaN
576                 171       99.0

In [535]:
#data1_summary.describe()
data1_summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157 entries, 572 to 742
Data columns (total 2 columns):
task_id_x    157 non-null int64
task_id_y    143 non-null float64
dtypes: float64(1), int64(1)
memory usage: 3.7 KB

In [536]:
import numpy as np
data1_summary.task_id_x = data1_summary.task_id_x.astype(np.float64)

In [537]:
data1_summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157 entries, 572 to 742
Data columns (total 2 columns):
task_id_x    157 non-null float64
task_id_y    143 non-null float64
dtypes: float64(2)
memory usage: 3.7 KB

In [538]:
data1_summary.head()

              task_id_x  task_id_y
promotion_id
572                18.0       15.0
573                29.0       23.0
574                48.0       29.0
575                 3.0        NaN
576               171.0       99.0

In [539]:
data1_summary = data1_summary.rename(columns = {"task_id_x": "tasks_raised", "task_id_y": "tasks_completed"})

In [540]:
data1_summary["completion_rate"] = data1_summary["tasks_completed"]/data1_summary["tasks_raised"]

In [541]:
data1_summary.head()

              tasks_raised  tasks_completed  completion_rate
promotion_id
572                   18.0             15.0         0.833333
573                   29.0             23.0         0.793103
574                   48.0             29.0         0.604167
575                    3.0              NaN              NaN
576                  171.0             99.0         0.578947

In [542]:
data1_summary[np.isnan(data1_summary)] = 0

In [543]:
data1_summary.head()

              tasks_raised  tasks_completed  completion_rate
promotion_id
572                   18.0             15.0         0.833333
573                   29.0             23.0         0.793103
574                   48.0             29.0         0.604167
575                    3.0              0.0         0.000000
576                  171.0             99.0         0.578947

In [544]:
defect_promos = data1_summary[data1_summary.completion_rate < 0.6].reset_index()

In [545]:
list(defect_promos)

['promotion_id', 'tasks_raised', 'tasks_completed', 'completion_rate']

In [546]:
defect_promos.shape

(131, 4)

In [547]:
data1_summary.shape

(157, 3)

In [548]:
defect_promos.head()

   promotion_id  tasks_raised  tasks_completed  completion_rate
0           575           3.0              0.0         0.000000
1           576         171.0             99.0         0.578947
2           577          15.0              7.0         0.466667
3           578         106.0             49.0         0.462264
4           579           2.0              0.0         0.000000

In [549]:
defect_promos_data = data1[data1.promotion_id.isin(defect_promos.promotion_id)]

In [550]:
len(set(defect_promos_data.promotion_id))

131

In [551]:
list(data1)

['task_id',
 'task_uuid',
 'owner_id',
 'created_on',
 'promotion_id',
 'usertask_status',
 'cancelled_by_type',
 'usertask_cancellation_reason',
 'runner_task_id',
 'runner_id',
 'user_task_id',
 'runner_task_created_on',
 'runner_task_completed_on',
 'runner_task_status',
 'cancelled_by_id',
 'runnertask_cancellation_reason',
 'id',
 'type']

In [552]:
defect_promos_data.head()

,task_id,task_uuid,owner_id,created_on,promotion_id,usertask_status,cancelled_by_type,usertask_cancellation_reason,runner_task_id,runner_id,user_task_id,runner_task_created_on,runner_task_completed_on,runner_task_status,cancelled_by_id,runnertask_cancellation_reason,id,type
123,3026606,96da0764-0bb6-45ba-b953-7592f5b5414d,282002,2018-09-02 00:03:31.619604,575,DELETED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
124,3026833,1c713e0a-7fb0-4de8-85de-470f17d4f102,794179,2018-09-02 00:26:44.382896,575,CANCELLED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
125,3026584,20572221-9969-4741-962e-606782e69afb,85862,2018-09-02 00:01:45.696869,575,CANCELLED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
126,3007832,db01f208-820d-4468-b227-cbe829edaaf8,395026,2018-09-01 13:45:15.560414,576,CANCELLED,U,Order delivered,3688209.0,776879.0,3007832.0,2018-09-01 13:45:34.320977,2018-09-01 14:50:28.564096,COMPLETED,NaN,None,NaN,NaN
127,3072251,61ac9a41-7980-482d-b33f-a767b338d89d,364004,2018-09-03 17:40:50.544938,576,DELETED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN

In [553]:
defect_promos_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11662 entries, 123 to 33234
Data columns (total 18 columns):
task_id                           11662 non-null int64
task_uuid                         11662 non-null object
owner_id                          11662 non-null int64
created_on                        11662 non-null datetime64[ns]
promotion_id                      11662 non-null int64
usertask_status                   11662 non-null object
cancelled_by_type                 4703 non-null object
usertask_cancellation_reason      11662 non-null object
runner_task_id                    6430 non-null float64
runner_id                         6430 non-null float64
user_task_id                      6430 non-null float64
runner_task_created_on            6430 non-null datetime64[ns]
runner_task_completed_on          6426 non-null datetime64[ns]
runner_task_status                6430 non-null object
cancelled_by_id                   2547 non-null float64
runnertask_cancellation_reason    1638 non-null object
id                                2547 non-null float64
type                              2547 non-null object
dtypes: datetime64[ns](3), float64(5), int64(3), object(7)
memory usage: 1.7+ MB

In [554]:
#defect_promos_data.loc[:, "runner_task_status1"] = map(str, defect_promos_data.loc[:, "runner_task_status"])
#defect_promos_data.loc[defect_promos_data["runner_task_status"] == "None", "runner_task_status"] = "No runner assigned"

In [555]:
defect_promos_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11662 entries, 123 to 33234
Data columns (total 18 columns):
task_id                           11662 non-null int64
task_uuid                         11662 non-null object
owner_id                          11662 non-null int64
created_on                        11662 non-null datetime64[ns]
promotion_id                      11662 non-null int64
usertask_status                   11662 non-null object
cancelled_by_type                 4703 non-null object
usertask_cancellation_reason      11662 non-null object
runner_task_id                    6430 non-null float64
runner_id                         6430 non-null float64
user_task_id                      6430 non-null float64
runner_task_created_on            6430 non-null datetime64[ns]
runner_task_completed_on          6426 non-null datetime64[ns]
runner_task_status                6430 non-null object
cancelled_by_id                   2547 non-null float64
runnertask_cancellation_reason    1638 non-null object
id                                2547 non-null float64
type                              2547 non-null object
dtypes: datetime64[ns](3), float64(5), int64(3), object(7)
memory usage: 1.7+ MB

In [556]:
defect_promos_data[["task_id", "runner_task_status"]].head().reset_index()

   index  task_id runner_task_status
0    123  3026606               None
1    124  3026833               None
2    125  3026584               None
3    126  3007832          COMPLETED
4    127  3072251               None

In [557]:
list(defect_promos_data)

['task_id',
 'task_uuid',
 'owner_id',
 'created_on',
 'promotion_id',
 'usertask_status',
 'cancelled_by_type',
 'usertask_cancellation_reason',
 'runner_task_id',
 'runner_id',
 'user_task_id',
 'runner_task_created_on',
 'runner_task_completed_on',
 'runner_task_status',
 'cancelled_by_id',
 'runnertask_cancellation_reason',
 'id',
 'type']

In [558]:
set(defect_promos_data.runner_task_status)

{None, 'CANCELLED', 'COMPLETED'}

In [559]:
#import numpy as np
#defect_promos_data.loc[[:, "runner_task_status2"]] = np.where(defect_promos_data.loc[[:, "runner_task_status1"]] = "None", 1, 0)

#row_indexes = defect_promos_data[defect_promos_data["runner_task_status1"] == "None"].index
#defect_promos_data.loc[row_indexes, "runner_task_status2"] = "Runner Not Assigned"

In [560]:
defect_promos_data.head()

,task_id,task_uuid,owner_id,created_on,promotion_id,usertask_status,cancelled_by_type,usertask_cancellation_reason,runner_task_id,runner_id,user_task_id,runner_task_created_on,runner_task_completed_on,runner_task_status,cancelled_by_id,runnertask_cancellation_reason,id,type
123,3026606,96da0764-0bb6-45ba-b953-7592f5b5414d,282002,2018-09-02 00:03:31.619604,575,DELETED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
124,3026833,1c713e0a-7fb0-4de8-85de-470f17d4f102,794179,2018-09-02 00:26:44.382896,575,CANCELLED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
125,3026584,20572221-9969-4741-962e-606782e69afb,85862,2018-09-02 00:01:45.696869,575,CANCELLED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
126,3007832,db01f208-820d-4468-b227-cbe829edaaf8,395026,2018-09-01 13:45:15.560414,576,CANCELLED,U,Order delivered,3688209.0,776879.0,3007832.0,2018-09-01 13:45:34.320977,2018-09-01 14:50:28.564096,COMPLETED,NaN,None,NaN,NaN
127,3072251,61ac9a41-7980-482d-b33f-a767b338d89d,364004,2018-09-03 17:40:50.544938,576,DELETED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN

In [561]:
defect_promos_data.loc[defect_promos_data.runner_task_status.isin([None]), "runner_task_status"] = "No Runner Assigned"
#defect_promos_data.loc[~defect_promos_data.runner_task_status.isin([None]), "runner_task_status1"] = defect_promos_data.runner_task_status

In [562]:
defect_promos_data[["runner_task_status"]].head()

     runner_task_status
123  No Runner Assigned
124  No Runner Assigned
125  No Runner Assigned
126           COMPLETED
127  No Runner Assigned

In [563]:
not_completed_defect_promos_data = defect_promos_data[defect_promos_data.runner_task_status <> "COMPLETED"]

In [564]:
set(not_completed_defect_promos_data.runner_task_status)

{'CANCELLED', 'No Runner Assigned'}

In [565]:
not_completed_defect_promos_summary1 = not_completed_defect_promos_data.fillna(method = "ffill").groupby(["promotion_id", "cancelled_by_type", "usertask_cancellation_reason"]).agg({"task_id": "nunique"}).reset_index()
not_completed_defect_promos_summary1 = not_completed_defect_promos_summary1.rename(columns = {"task_id": "tasks"})

In [566]:
not_completed_defect_promos_summary1.head()

   promotion_id cancelled_by_type usertask_cancellation_reason  tasks
0           575                 U              Changed my mind      3
1           576                 O                 Invalid Task      1
2           576                 O          USER_NOT_RESPONDING      2
3           576                 O               User Cancelled      3
4           576                 O                      default      5

In [567]:
not_completed_defect_promos_summary1["rank1"] = not_completed_defect_promos_summary1.groupby(["promotion_id", "cancelled_by_type"])["tasks"].rank(ascending = False, method = "dense")

In [568]:
not_completed_defect_promos_summary1.head(50)

,promotion_id,cancelled_by_type,usertask_cancellation_reason,tasks,rank1
0,575,U,Changed my mind,3,1.0
1,576,O,Invalid Task,1,4.0
2,576,O,USER_NOT_RESPONDING,2,3.0
3,576,O,User Cancelled,3,2.0
4,576,O,default,5,1.0
5,576,U,Changed my mind,22,2.0
6,576,U,Delivery charges too high,2,4.0
7,576,U,Expected a shorter wait time,9,3.0
8,576,U,I didn't order this food,1,5.0
9,576,U,Moving out immediatley,1,5.0
10,576,U,Offer items were not there,1,5.0
11,576,U,Ordered by mistake,1,5.0
12,576,U,Uu,1,5.0
13,576,U,Want to go to home page to check other offers,1,5.0
14,576,U,b\n,1,5.0
15,576,U,cancle the order,1,5.0
16,576,U,default,37,1.0
17,576,U,na\n,1,5.0
18,576,U,no partner is responding,1,5.0
19,576,U,product not available mentioned by the deliver...,1,5.0
20,576,U,they don't even make it now and you are runnin...,1,5.0
21,577,U,Changed my mind,1,3.0
22,577,U,Expected a shorter wait time,4,2.0
23,577,U,default,6,1.0
24,577,U,ok,1,3.0
25,578,O,DUNZO_COULDNOT_DO,1,2.0
26,578,O,USER_NOT_RESPONDING,1,2.0
27,578,O,User Cancelled,1,2.0
28,578,O,default,3,1.0
29,578,U,.,1,5.0
30,578,U,Cash on delivery option not available,1,5.0
31,578,U,Changed my mind,17,2.0
32,578,U,Delivery charges too high,2,4.0
33,578,U,Expected a shorter wait time,8,3.0
34,578,U,Location wrong\n,1,5.0
35,578,U,Need to update,1,5.0
36,578,U,Will order more qty,1,5.0
37,578,U,default,25,1.0
38,579,U,Testing,1,1.0
39,579,U,k,1,1.0
40,580,O,Invalid Task,1,1.0
41,580,U,Changed my mind,1,2.0
42,580,U,Expected a shorter wait time,2,1.0
43,580,U,Too long wait,1,2.0
44,580,U,default,1,2.0
45,581,O,User Cancelled,2,1.0
46,581,U,Changed my mind,1,1.0
47,587,O,User Cancelled,1,1.0
48,587,U,Changed my mind,1,1.0
49,588,U,Changed my mind,2,3.0

In [569]:
not_completed_defect_promos_summary1 = not_completed_defect_promos_summary1.sort_values(["promotion_id", "cancelled_by_type", "rank1"], ascending = [True, True, True], inplace = False)

In [570]:
not_completed_defect_promos_summary1.head()

   promotion_id cancelled_by_type usertask_cancellation_reason  tasks  rank1
0           575                 U              Changed my mind      3    1.0
4           576                 O                      default      5    1.0
3           576                 O               User Cancelled      3    2.0
2           576                 O          USER_NOT_RESPONDING      2    3.0
1           576                 O                 Invalid Task      1    4.0

In [571]:
#not_completed_defect_promos_summary1.info()
not_completed_defect_promos_summary1 = not_completed_defect_promos_summary1[not_completed_defect_promos_summary1.rank1 <= 3]
#type(data1)

In [572]:
not_completed_defect_promos_summary1["rank1"].max()

3.0

In [573]:
not_completed_defect_promos_summary1.head()

    promotion_id cancelled_by_type usertask_cancellation_reason  tasks  rank1
0            575                 U              Changed my mind      3    1.0
4            576                 O                      default      5    1.0
3            576                 O               User Cancelled      3    2.0
2            576                 O          USER_NOT_RESPONDING      2    3.0
16           576                 U                      default     37    1.0

In [574]:
not_completed_defect_promos_summary1 = not_completed_defect_promos_summary1.fillna(method = "ffill").groupby(["promotion_id", "cancelled_by_type"]).usertask_cancellation_reason.unique().reset_index()

In [575]:
not_completed_defect_promos_summary1.head()

,promotion_id,cancelled_by_type,usertask_cancellation_reason
0,575,U,[Changed my mind]
1,576,O,"[default, User Cancelled, USER_NOT_RESPONDING]"
2,576,U,"[default, Changed my mind, Expected a shorter ..."
3,577,U,"[default, Expected a shorter wait time, Change..."
4,578,O,"[default, DUNZO_COULDNOT_DO, USER_NOT_RESPONDI..."

In [576]:
not_completed_defect_promos_summary1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
promotion_id                    210 non-null int64
cancelled_by_type               210 non-null object
usertask_cancellation_reason    210 non-null object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [577]:
not_completed_defect_promos_summary1.head()

,promotion_id,cancelled_by_type,usertask_cancellation_reason
0,575,U,[Changed my mind]
1,576,O,"[default, User Cancelled, USER_NOT_RESPONDING]"
2,576,U,"[default, Changed my mind, Expected a shorter ..."
3,577,U,"[default, Expected a shorter wait time, Change..."
4,578,O,"[default, DUNZO_COULDNOT_DO, USER_NOT_RESPONDI..."

In [578]:
not_completed_defect_promos_summary1 = not_completed_defect_promos_summary1.pivot(index = "promotion_id", columns = "cancelled_by_type", values = "usertask_cancellation_reason")
#not_completed_defect_promos_summary1 = pd.crosstab(index = not_completed_defect_promos_summary1["promotion_id"], columns = [not_completed_defect_promos_summary1["cancelled_by_type"], not_completed_defect_promos_summary1["usertask_cancellation_reason"]])

In [579]:
not_completed_defect_promos_summary1 = not_completed_defect_promos_summary1.reset_index()

In [580]:
not_completed_defect_promos_summary1.head()

cancelled_by_type,promotion_id,O,U
0,575,NaN,[Changed my mind]
1,576,"[default, User Cancelled, USER_NOT_RESPONDING]","[default, Changed my mind, Expected a shorter ..."
2,577,NaN,"[default, Expected a shorter wait time, Change..."
3,578,"[default, DUNZO_COULDNOT_DO, USER_NOT_RESPONDI...","[default, Changed my mind, Expected a shorter ..."
4,579,NaN,"[Testing, k]"

In [581]:
user_cancelled_sample = data1[data1.promotion_id.isin(["607",
                                                        "688",
                                                        "719",
                                                        "616",
                                                        "741",
                                                        "685",
                                                        "726",
                                                        "707",
                                                        "656",
                                                        "715",
                                                        "675",
                                                        "708",
                                                        "742",
                                                        "646",
                                                        "613",
                                                        "677",
                                                        "722",
                                                        "736",
                                                        "620",
                                                        "693",
                                                        "576",
                                                        "617",
                                                        "684",
                                                        "706",
                                                        "672",
                                                        "721",
                                                        "698",
                                                        "673",
                                                        "702",
                                                        "634"])]

In [582]:
user_cancelled_sample = user_cancelled_sample[(user_cancelled_sample.cancelled_by_type == "U") & ((user_cancelled_sample.runner_task_status != "COMPLETED") | (user_cancelled_sample.runner_task_status is None))]

In [583]:
user_cancelled_sample.head()

,task_id,task_uuid,owner_id,created_on,promotion_id,usertask_status,cancelled_by_type,usertask_cancellation_reason,runner_task_id,runner_id,user_task_id,runner_task_created_on,runner_task_completed_on,runner_task_status,cancelled_by_id,runnertask_cancellation_reason,id,type
127,3072251,61ac9a41-7980-482d-b33f-a767b338d89d,364004,2018-09-03 17:40:50.544938,576,DELETED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
128,3018593,20d1eff6-9dcc-4fd3-97b8-4e153349a881,204011,2018-09-01 19:18:16.253044,576,CANCELLED,U,Uu,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
129,3001890,01480348-61e2-4174-bbae-80aa775059bc,787628,2018-09-01 10:32:55.631309,576,CANCELLED,U,Moving out immediatley,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
131,3071488,82f7d009-e179-4d0a-b1e5-f48990625828,693554,2018-09-03 17:12:46.942344,576,CANCELLED,U,I didn't order this food,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
135,3073692,bc5a7db3-c279-412c-851c-7df3851562ea,118065,2018-09-03 18:31:49.180302,576,CANCELLED,U,Expected a shorter wait time,3764659.0,225058.0,3073692.0,2018-09-03 18:37:23.125488,2018-09-03 18:37:44.722901,CANCELLED,225058.0,RUNNER_REJECT,225058.0,R

In [584]:
set(user_cancelled_sample.runner_task_status)

{None, 'CANCELLED'}

In [586]:
#user_cancelled_sample.to_csv("C:\For Charan\DA-259 Analysis Of all offers tasks post WK 34\user_cancelled_sample.csv", index = False)

In [587]:
user_cancelled_sample.shape

(2779, 18)

In [588]:
changed_my_mind_data = user_cancelled_sample[user_cancelled_sample.usertask_cancellation_reason == "Changed my mind"]

In [589]:
changed_my_mind_data.head()

,task_id,task_uuid,owner_id,created_on,promotion_id,usertask_status,cancelled_by_type,usertask_cancellation_reason,runner_task_id,runner_id,user_task_id,runner_task_created_on,runner_task_completed_on,runner_task_status,cancelled_by_id,runnertask_cancellation_reason,id,type
127,3072251,61ac9a41-7980-482d-b33f-a767b338d89d,364004,2018-09-03 17:40:50.544938,576,DELETED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
141,3006785,d70853e2-162d-4213-a308-6bd36be98cb0,465171,2018-09-01 13:16:04.603072,576,CANCELLED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
175,3064347,6af2f70c-d9c4-4e1e-a979-afc4ee32e820,777805,2018-09-03 13:00:46.942788,576,CANCELLED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
176,3064302,ed75d047-aab6-414b-97f8-906d17bc1d0f,430672,2018-09-03 12:59:23.647742,576,CANCELLED,U,Changed my mind,NaN,NaN,NaN,NaT,NaT,None,NaN,None,NaN,NaN
177,3063625,73d713d4-cc5b-46e0-af78-8eb21c8e22f0,683836,2018-09-03 12:40:11.468642,576,CANCELLED,U,Changed my mind,3751421.0,703572.0,3063625.0,2018-09-03 12:41:11.300196,2018-09-03 12:42:03.200891,CANCELLED,683836.0,None,683836.0,C

In [591]:
changed_my_mind_data.loc[changed_my_mind_data.runner_task_status.isin([None]), "runner_task_status"] = "No Runner Assigned"

In [592]:
set(changed_my_mind_data.runner_task_status)

{'CANCELLED', 'No Runner Assigned'}

In [593]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist()